body {
  font-size: 1.5em;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav li a {
  font-size: 1.4em;
}

.link--active {
  color: red;
}

.movie-list {
  list-style: none;
  color: black;
}

.start-btn, .stop-btn, .clear-btn {
  background-color: green;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  margin: 20px;
}

.stop-btn{
  background-color: red;
}

.clear-btn{
  background-color: black;
  color: white;
}