/* General styles */

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 14px;
}

body {
  width: 80em;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.2em;
}

pli {
  font-size: 1.7em;
}

/*+++ more specific section styles +++*/

/* header and footer */

header {
  background: teal;
  height: 10em;
  position: fixed;
  top: 0;
  width: 80em;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background: teal;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: fixed;
  width: 80em;
  bottom: 0;
}

h1 {
  text-align: center;
  padding: 0.5em 0;
}

/* main content */

main {
  padding: 2em;
}

main p,
main li {
  line-height: 2;
}

img {
  float: right;
  margin: 1.2em 2em;
}
