body {
    margin: 0;
}
  
html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
}

.card article img {
    margin-top: -10px;
    max-height: 104px;
    float: right;
}
.card footer {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    
}
  
.card header {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 1em 1em 0 0;
    padding: 10px;
    font-weight: 900;
    font-size: 10px;
}

.card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
}

footer > p {
    padding: 20px;
    font-size: 14px;
}

.address {
    padding-left: 10px;
    padding-bottom: 3px;
    color: white;
}